{% extends 'base.html' %}

{% block title %}
Главная страница
{% endblock %}

{% block body %}
<div class="container">
<div class="pricing-header p-3 pb-md-4 mx-auto text-center">
      <h1 class="display-4 fw-normal"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Цены</font></font></h1>
      <p class="fs-5 text-muted"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Быстро создайте эффективную таблицу цен для ваших потенциальных клиентов с помощью этого примера Bootstrap. </font><font style="vertical-align: inherit;">Он построен с использованием компонентов и утилит Bootstrap по умолчанию с небольшой настройкой.</font></font></p>
    </div>
<div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Бесплатно</font></font></h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">0 долларов США в </font></font><small class="text-muted fw-light"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">месяц</font></font></small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">10 пользователей включены</font></font></li>
              <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">2 ГБ памяти</font></font></li>
              <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Поддержка по электронной почте</font></font></li>
              <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Доступ к справочному центру</font></font></li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-outline-primary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Подпишитесь бесплатно</font></font></button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Про</font></font></h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">$15 </font></font><small class="text-muted fw-light"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">/мес .</font></font></small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">20 пользователей включены</font></font></li>
              <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">10 ГБ памяти</font></font></li>
              <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Приоритетная поддержка по электронной почте</font></font></li>
              <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Доступ к справочному центру</font></font></li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-primary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Начать</font></font></button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm border-primary">
          <div class="card-header py-3 text-white bg-primary border-primary">
            <h4 class="my-0 fw-normal"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Предприятие</font></font></h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">$29 </font></font><small class="text-muted fw-light"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">/мес .</font></font></small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">30 пользователей включены</font></font></li>
              <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">15 ГБ памяти</font></font></li>
              <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Поддержка по телефону и электронной почте</font></font></li>
              <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Доступ к справочному центру</font></font></li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-primary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Связаться с нами</font></font></button>
          </div>
        </div>
      </div>
    </div>
</div>
{% endblock %}