{% extends 'base.html' %}

{% block title %}
Редактирование статьи
{% endblock %}

{% block body %}
<div class="container">
<div class ="conatiner mt-5">
    <h1>Редактирование стаьи</h1>
    <form method="post" >
        <input type="text" name="title" id="title" class="form-control" value="{{ article.title }}" placeholder="Название статьи"><br>
        <textarea name="intro" id="intro" class="form-control"  cols="30" rows="10" placeholder="Описание статьи">{{ article.intro }}</textarea><br>
        <textarea name="text" id="text" class="form-control"  cols="30" rows="10" placeholder="Основная часть">{{ article.text }}</textarea> <br>
        <input type="submit"  class="btn btn-success" value="Редактировать">
    </form>
</div>
</div>
{% endblock %}